
<table>
<tr>
<th>Machine</th>
<th>Model</th>
<th>OS</th>
<th>Threads</th>
<th>Location</th>
<th>Service</th>
</tr>
{% assign lower_title = page.title | downcase %}
{% for item in site.machines %}
{% assign lower_use = item.use | downcase %}
{% if lower_use == lower_title %}
<tr>
<td><a href="/{{item.path | replace: "_machines", "machines" | replace: ".md", ".html"}}">{{item.name}}</a></td>
<td>{{item.manufacturer}} {{item.model}}</td>
<td>{{item.os}}</td>
<td>{{item.threads}}</td>
<td>{{item.location}}</td>
<td>{{item.service}}</td>
</tr>
{% endif %}
{% endfor %}
</table>

